@font-face {
    font-family: 'Wavehaus Sans';
    src: url('resources/fonts/wavehaus/wavehaussans.eot'); /* IE9 Compat Modes */
    src: url('resources/fonts/wavehaus/wavehaussans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('resources/fonts/wavehaus/wavehaussans.woff') format('woff'), /* Modern Browsers */
    url('resources/fonts/wavehaus/wavehaussans.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('resources/fonts/wavehaus/wavehaussans.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Gordita';
    src: url('resources/fonts/gordita/gordita.eot'); /* IE9 Compat Modes */
    src: url('resources/fonts/gordita/gordita.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('resources/fonts/gordita/gordita.woff') format('woff'), /* Modern Browsers */
    url('resources/fonts/gordita/gordita.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('resources/fonts/gordita/gordita.svg#svgFontName') format('svg'); /* Legacy iOS */
}


.navbar-nav.ml-auto li a {
    color: #ffffff !important;
    font-family: "Wavehaus Sans", sans-serif;
    font-size: 17px !important;
    font-style: italic;
    transition: all .2s ease-in-out;
}
.navbar-nav.ml-auto li a:hover {
    color: #e7e7e7 !important;
    transform: scale(1.02);
}

.navbar {
    background-image: linear-gradient(-90deg, #00bfff, #df73ff) !important;
}
.navbar-brand {
    color: #ffffff !important;
    font-family: "Wavehaus Sans", sans-serif;
    font-style: italic;
    text-shadow: 1px 1px #000000;
    font-size: 25px !important;
}
#listing {
    background-color: white;
    color: #31AEFF !important;
    border-radius: 40px;
}
#listing:hover {
    background-color: rgb(101,157,255);
    color: lightgray !important;
}

html, body {
    height: 100% !important;
    width: 100% !important;
    font-family: sans-serif;
}

#home {
    z-index: 1 !important;
    background: url("resources/imgs/sky.jpg") no-repeat 50% 50% !important;
    display: table !important;
    height: 100% !important;
    width: 100% !important;
    position: relative !important;
    background-size: cover !important;
}

#wrap {
    z-index: 2 !important;
    height: 60%;
    width: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: white;
    border-radius: 30px;
}
#jobslogo {
    margin-left: 20px;
    margin-top: 10px;
    font-family: "Gordita", sans-serif;
}
#timeLabel, #formSelectTime {
    width: 95% !important;
    margin-left: 10px;
    font-family: "Gordita", sans-serif !important;
}
#locationLabel, #formInputLoc {
    width: 95% !important;
    margin-left: 10px;
    font-family: "Gordita", sans-serif !important;
}
#lengthLabel, #formSelectLength {
    width: 95% !important;
    margin-left: 10px;
    font-family: "Gordita", sans-serif !important;
}
#keywordLabel, #formInputKey {
    width: 95% !important;
    margin-left: 10px;
    font-family: "Gordita", sans-serif !important;
}
